[Unit]
Description=Netspace - Embedded network namespace
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/netspace/environment
ExecStartPre=/usr/sbin/netspace-create.sh $(IFACE) $(IPADDR) $(NAME)
ExecStart=/usr/sbin/netspacectl.sh start $(NAME)

[Install]
WantedBy=default.target
