[Unit]
Description=Netspace - Embedded network namespace
Requires=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/netspace/environment
ExecStartPre=/usr/sbin/netspace-create.sh $(IFACE) $(IPADDR) $(NAME)
ExecStart=/etc/netspace/init.sh
After=network-online.target
Requires=network-online.target

[Install]
WantedBy=default.target
